<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MainForm.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <applicationSettings>
    <MainForm.My.MySettings>
      <setting name="RsLinkToAntifat_tw_com_weightobserver_cloud_AntiFat" serializeAs="String">
        <value>http://cloud.weightobserver.com.tw:8080/WebService/services/AntiFat.AntiFatHttpSoap11Endpoint/</value>
      </setting>
    </MainForm.My.MySettings>
  </applicationSettings>
  <!--<connectionStrings>-->
    <!--<add name="ZMCMSEntities" connectionString="metadata=res://*/Models.ZMCMSModel.csdl|res://*/Models.ZMCMSModel.ssdl|res://*/Models.ZMCMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;sPb1VjUeptF7GMyKxrlv697JYrooJX7GPTFLC8vVNmVNChGViBe31pObR7fVxmwgIaePUgXV9frVNqm1r4kXzj+fBwcixkF4cDDlUeryRm/HCyI3LbV9Q/gCzl7BX3aJEs4sWR/+vI7Zr6sI9okctECkuiOhL7fsjNEY2F+E2VQ=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="his3532040438Entities" connectionString="metadata=res://*/Models.connModel.csdl|res://*/Models.connModel.ssdl|res://*/Models.connModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;3CqsMn010YRkMr/aAroTTGztfZGlU1VP08FnSVbi9JMwZD+yq5gC9gDtb41zlMViiH0QzHNYh6Kx+P9oDYlxK8qMXY8ZrPMVWCc9/CSRZrlhgTmdsdMAkEPZXjGfx+vG(!#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ZMCMSconn" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Wf6lKTPMEJ0ruLp9/SzrliuSyEcMWf/RZdyM4HrqRaPHdBIeLNKHHDiqpMQ+FTd0s+6186AuuEjYlbl0/HWR4AFvNMrVC2X4gmCcoI3WJZ293pBREJOyU8mDmH8mnBQ4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="tgkEntities" connectionString="metadata=res://*/tgk.csdl|res://*/tgk.ssdl|res://*/tgk.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=tgk;user id=sa;password=nathan2233;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogDBEntities" connectionString="metadata=res://*/Models.LogModel.csdl|res://*/Models.LogModel.ssdl|res://*/Models.LogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=zmcms.cloud,1933;initial catalog=LogDB;user id=sa;password=I@ntif@t;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HISEntities" connectionString="metadata=res://*/Models.HISModel.csdl|res://*/Models.HISModel.ssdl|res://*/Models.HISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.97.65.134,1933;initial catalog=his1234567890;user id=sa;password=I@ntif@t;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="HISEntities" connectionString="metadata=res://*/Models.HISModel.csdl|res://*/Models.HISModel.ssdl|res://*/Models.HISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={0};initial catalog={1};user id={2};password={3};MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--</connectionStrings>-->
  <!--<appSettings>
    --><!--z1r@m1d!@#$%^&*(--><!--
    <add key="db_ConnectionStr" value="metadata=res://*/Models.HISModel.csdl|res://*/Models.HISModel.ssdl|res://*/Models.HISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={0};initial catalog={1};user id={2};password={3};MultipleActiveResultSets=True;App=EntityFramework&quot;" />
    <add key="db_DataSource" value="2NMrxry/WKB5mXcYCLmpekqqoqjic53x8KXweeqQKkM="/>
    <add key="db_Catalog" value="628IPRk4sEQHOpjGniNTOw==" />
    <add key="db_User" value="K8YQq6E8ja3DxOov6N7jcQ=="/>
    <add key="db_Pwd" value="aYrW8jHDA1RxASRXEzQQxQ=="/>    
  </appSettings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
