<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MainForm.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <applicationSettings>
    <MainForm.My.MySettings>
      <setting name="RsLinkToAntifat_tw_com_weightobserver_cloud_AntiFat" serializeAs="String">
        <value>http://cloud.weightobserver.com.tw:8080/WebService/services/AntiFat.AntiFatHttpSoap11Endpoint/</value>
      </setting>
    </MainForm.My.MySettings>
  </applicationSettings>
  <connectionStrings>
    <add name="ZMCMSEntities" connectionString="metadata=res://*/Models.ZMCMSModel.csdl|res://*/Models.ZMCMSModel.ssdl|res://*/Models.ZMCMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.tongxin.com.tw,38301;initial catalog=ZMCMS;persist security info=True;user id=sa;password=23752100;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="his3532040438Entities" connectionString="metadata=res://*/Models.connModel.csdl|res://*/Models.connModel.ssdl|res://*/Models.connModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=oy.asuscomm.com,36913;initial catalog=his3532040438;user id=sa;password=z1r0m1d$^#^(!#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ZMCMSconn" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=220.134.48.176,38301;initial catalog=ZMCMS;user id=ZMCMSUser;password=1qaz@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>